.bill {
    display: block;
    width: 300px;
    margin: 20px;
    textAlign: 'center';
    padding: 16px;
    position: relative;
}

.delete {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
}

label {
    color: rgb(0, 188, 212);
    display: inline-block;
    font-size: 12px;
    width: 100%;
}

.row {
    display: flex;
}

.half {
    flex-basis: 50%;
}

.category label {
    display: flex;
    flex-direction: column;
}
